Source: morse-x
Section: hamradio
Priority: optional
Maintainer: Stephan Beyer <s-beyer@gmx.net>
Build-Depends: debhelper (>= 5.0.0), libsdl1.2-dev (>= 1.2.0)
Standards-Version: 3.7.2

Package: morse-x
Architecture: any
Depends: ${shlibs:Depends}
Description: morse practicing tool
 In morse-x you can use any key on your keyboard as morse key 
 (except 'q', which exits) and then it displays your morsed 
 stuff as readable text on stdout. So it is recommended to
 execute morse-x in an x-terminal-emulator.
 .
 At the first start you will have to calibrate morse-x, so just
 follow the instructions on the console.
